block content
  p I play Pillars of Eternity: Deadfire.
  p I read information on Fextralife and Fandom wikis.
  p I'm tired of all the ads and crap those websites load.
  p So I'm getting the data in JSON format and building a fast static website out of it.

  ul
    li
      a(href=`${url.pathToRoot}locations/`) Locations
